* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  color: whitesmoke;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {

  min-height: 100vh;
  border: 2px solid white;
  position: relative;
  z-index: 2;

}

main {
  position: relative;

}


#canvas-elem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(/background-l.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s linear;
}


#section-1 {

  position: relative;
  --gap: 3rem;


  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.7rem;

    .nav-elem:nth-child(2) {
      i {
        color: red;
      }
    }

    svg {
      min-width: 5rem;
      ;
      width: 50%;
      height: 50%;
    }
  }

  .middle {
    display: flex;
    gap: var(--gap);

    .left,
    .right {
      width: 50%;
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-block: 10rem;

    }

    h1 {
      font-size: 5rem;
      line-height: 0.8;
      text-align: right;
      font-family: poppins;
    }

  }

  .bottom {
    display: flex;
    gap: var(--gap);


    .left,
    .right {
      width: 50%;
    }

    .right {

      p {
        line-height: 1.3;
        font-weight: 200;
        font-family: poppins;
        font-size: 1.3rem;
      }
    }
  }

  .first-line {
    position: absolute;
    width: 30rem;
    background-color: #661e1e;
    height: 1px;
    transform: rotate(45deg) translate(5rem, -25rem);
  }

  .second-line {
    position: absolute;
    width: 10rem;
    background-color: #661e1e;
    height: 1px;
    transform: rotate(135deg);
    right: 25%;
    top: 25%;
  }


}

#section-2 {
  .titles {
    display: flex;
    flex-direction: column;
    padding-left: 17rem;

    .title {
      display: flex;
      gap: 4rem;
      padding-block: 1rem;
      opacity: 0.5;
      transition: all 0.3s linear;
      cursor: pointer;

      h1 {
        font-size: 5rem;
        font-weight: 1;
        line-height: 1;
      }

      small {
        margin-top: 0.6rem;
        font-size: 1rem;
      }


    }

    .title:hover {
      opacity: 1;
    }


  }
}

main:has(#section-2 .title:hover) #canvas-elem::after {
  opacity: 0;
}

.images {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;

  }

}

main:has(#section-2 .title[img-title="tomorrowland"]:hover) .images #tomorrowland {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="navy-pier"]:hover) .images #navy-pier {
  opacity: 1;
  background-color: rgb(4, 7, 24);

}

main:has(#section-2 .title[img-title="msi-chicago"]:hover) .images #msi-chicago {
  opacity: 1;
  background-color: rgb(4, 7, 24);

}

main:has(#section-2 .title[img-title="phone"]:hover) .images #phone {
  opacity: 1;
  background-color: rgb(4, 7, 24);

}

main:has(#section-2 .title[img-title="kikk"]:hover) .images #kikk {
  opacity: 1;
  background-color: rgb(4, 7, 24);

}

main:has(#section-2 .title[img-title="kennedy"]:hover) .images #kennedy {
  opacity: 1;
  background-color: rgb(4, 7, 24);

}

main:has(#section-2 .title[img-title="opera"]:hover) .images #opera {
  opacity: 1;
  background-color: rgb(4, 7, 24);

}